@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
:root{
  --pink: #D8315B;
  --light-blue:  #F1F8FF;
  --blue:  #3E92CC;
  --blue-dark:  #0A2463;
  --green:  #05944F;
  --blue2:  #276EF1;
  --blue3:  #99B2CC;
  
}

body{
  font-family: 'Nunito';
}
.logo{
  font-family: 'Limelight';
  font-size: 36px !important;
}

.bg-blue-light{
  background: linear-gradient(180deg, #F1F8FF 0%, #FDFDFD 100%);

}
.blue{
  color: var(--blue);
}

.bg-blue-light-2{
  background: #F1F8FF 0;

}
.blue-light{
  color: #99B2CC;
}
.pink{
  color: var(--pink);
}
.green{
  color: var(--green);
}
.blue2{
  color: var(--blue2);
}
.blue3{
  color: var(--blue3);
}
.bg-pink{
  background: rgba(216, 49, 91, 0.1);
}
.bg-pink-dark{
  background-color: #D8315B !important;
}
.blue-dark{
  color: #0A2463 !important;
  
}

.bg-blue{
  background-color: var(--blue) !important; 
}
input::placeholder{
  color: #fff;
}
.menu-link{
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
}
.border-none{
  border : none  !important;
}
.img-cards {
  width: 340px;
  height: 400px;
  object-fit: cover;
}
.titles-cards{
  font-size: 24px !important;
}
.description-cards{
  font-size: 16px !important;

}
.donation-button{
  color: #D8315B !important;
  border-color: #D8315B !important;

}
.donation-button:hover{
  color: #fff !important;
  border-color: #fff;
  background-color: #D8315B !important;
  
}
.card:hover{
  background: #FDFDFD;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
}
.sidebar{
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  height: 100vh;
  width: 20%;
  z-index: 99;
}
.form-control{
  background-color: var(--light-blue) !important;
}

.img-list{
  width: 100%;
  object-fit: cover;
  height: 200px;
}
.progress{
  background-color: #fff !important;
  color: var(--pink);

}

.progress::-webkit-progress-value {
  background: lightblue;
}

.progress::-moz-progress-bar {
  background: lightcolor;
}

.progress::-webkit-progress-value {
  background: var(--pink);
}

.progress::-webkit-progress-bar {
  background: #d1d1d1
}
#banner{
  height: 35vh;
 
}
.banner-img{
  background-image: url('/fatec.png');
  background-repeat: no-repeat;
}
.bg-banner-left{
  background: linear-gradient(  #151C24 31.77%, #0A2463 100%);
}
.fnt-12{
  font-size: 12px;
}

.fnt-14{
  font-size: 14px;
}

.fnt-16{
  font-size: 16px;
}
.fnt-24{
  font-size: 24px !important;
}
.border-b{
  border-bottom: 1px solid !important;
  border-color: var(--blue) !important; 
}
.card-cause{
  border-bottom: 1px solid !important;
  border-color: var(--blue) !important; 
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
}

.chart{
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.donators{
  border-left: 2px solid ;
  border-color: var(--blue)
}
#search{
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.08);
}

.shadow{
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.08);
}