.bg-blue-light{
  background: linear-gradient(180deg, #F1F8FF 0%, #FDFDFD 100%);

}
.blue-light{
  color: #99B2CC;
}
.pink{
  color: #D8315B;
}
.blue-dark{
  color: #0A2463;
  
}

.bg-blue{
  background-color: #3E92CC !important; 
}
input::placeholder{
  color: #fff;
}